docs/
tests/
examples/clevr-finished


__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.venv/
venv/
ENV/
env/
bin/

.[a-zA-Z0-9]*
!.gitignore
!.gitattributes

*.jsonl
*.log
